.App {
  text-align: center;
}

.day-box {
  border: solid black;
  height: 10vh;
  width: 12vh;
  display: inline-block;
}

.day-box:hover {
  background-color: lightgray;
}

h3 {
  text-align: left;
}

#year {
  flex-grow: 1;
}